page-login {

}

p {
  text-align: center;
}

ion-navbar {
  height: 70px;
}

ion-title {
  font-family: 'Satisfy', cursive;
  font-size: 2.2em;
}

ion-content {
  font-family: 'Raleway', sans-serif;
}
